*{
    margin: 0;
}
body{
    background-color: rgb(52, 88, 121);
    background-color: rgb(4, 83, 8);
    
}
.fas{
    color: #000;
    
}
                            /* Campo de Pesquisa */
header{
    
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

}
.menu{
    margin: 5px;
    margin-right: 0;
    display: flex; 
    align-items: center;   
}
ul{
    margin: 5px;
    padding: 0;
}
ul:nth-child(1){
    margin-top: 33px;
}
ul:nth-last-child(){
    margin-top: 33px;
}
li{
    margin: 5px 0;
    
}
header input{
    width: 92vw;
    margin-right: 0.3rem;
}
                            /* Campo do Produto */
.produtos{
    background-color: aliceblue;
    border: 3px solid;
    height: 5rem;
    display: flex;
}
.produto-imagem{
    width: 6em;
    padding: 6px;
    align-items: center;
}
img{
    width: 4.3em;
}
.titulo,.preco, .descricao{
    padding: 0;
    margin: 0;
}

.descricao{
    margin-top: 5px;
    font-size: 10px;
    height: 2em;
}

                                /* Foooter */
footer{
    width: 100vw;
    height: 25px;
    
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    left: 0;
    
}
footer div{ 
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
