*{
    margin: 3px;
}
body{
    background-color: rgb(52, 88, 121);
    background-color: rgb(4, 83, 8);
    
}
.fas{
    color: #000;
    
}
                            /* Campo de Pesquisa */
header{    
    height: 2.5em;


}
.menu{
    margin: 5px 10px;
    display: flex; 
    align-items: center;   
}
ul{
    margin: 5px;
    padding: 0;
}

li{
    list-style: none;
    margin: 15px 0;
    
}
header input{
    width: 92vw;
    margin-right: 0.3rem;
    height: 2.4em;
    border-radius: 15px;
}
.header-item{
    padding: 0;
    margin: 0;
}
#sacola{
    width: 30px;
    padding-left: 5px;
    padding-top: 2px;
}
                            /* Campo do Produto */
.produtos{
    background-color: aliceblue;
    border: 3px solid;
    height: 10rem;
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
}
.produto-imagem{
    width: 6em;
    padding: 6px;
    align-items: center;
    height: 90%;
    max-height: 90%;
}
article div img{
    width: 4.3em;
}
.produto-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90%;
    max-height: 90%;
}
.titulo,.preco, .descricao{
    padding: 0;
    margin: 0;
}

.descricao{
    margin-top: 5px;
    font-size: 10px;
    height: 2em;
    max-width: 100em;
    
}

                                /* Foooter */
footer{
    margin: 0;
    width: 100vw;
    height: 2.5em;
    
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
    align-items: center; 
    
}
footer img{
    width: 30px;
}
